@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --accent-color: white;
  --base-color: #000000;
  --text-color: #ededed;
  --input-color: #F3F0FF;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: Poppins, Montserrat, Lexend, Helvetica, sans-serif;
  font-size: 12pt;
  color: var(--text-color);
  text-align: center;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinha o conteúdo à direita */
  padding: 0 20px;
  background-image: url(assets/bg.png);
  background-size: cover;
  overflow: hidden;
}

.wrapper {
  height: 50vh;
  width: max(40%, 600px);
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto; /* Move o formulário para a direita */
}
.wrapper{
  background: rgba( 0, 0, 0, 0.1 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  box-shadow: 0 0 110px rgba(0, 0, 0, 0.872);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1{
  font-size: 3rem;
  font-weight: 450;
  font-stretch: semi-expanded;
}
form{
  width: min(1000px, 100%);
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10;
}
form > div{
  width: 630px;
  margin: 11px;
  display: flex;
  justify-content: center;
  border-radius: 10px
}
form label{
  height: 60px;
  width: 60px;
  background: rgba(0, 0, 0, 0.356);
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(122, 122, 122, 0.34);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}
form input{
  box-sizing: border-box;
  flex-grow: 1;
  height: 60px;
  width: 60px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--text-color);
  border-left: none;
  background-color: var(--text-color);
}

.linha {
  transition: transform 500ms ease-out, box-shadow 500ms ease-out, border-radius 500ms ease-out;
}
.linha:hover{
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(252, 252, 252, 0.872);
  border-radius: 11px;
}
.error{
  box-shadow: 0 0 30px rgba(255, 1, 1, 0.872);
  border-radius: 11px;
}

@media(max-widh: 1100px){
  .wrapper{
    width: min(600px, 100%)
  }
}

form button{
  margin-top: 80px;
  border: none;
  border-radius: 10px;
  width: 625px;
  height: 60px;
  background-color: var(--text-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.form button{
  transition: transform 500ms ease-out, box-shadow 500ms ease-out, border-radius 500ms ease-out;
}
.form button:hover{
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(252, 252, 252, 0.872);
  border-radius: 11px;
}
.styled{
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  width: 625px;
  height: 60px;
  background-color: var(--text-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.styled{
  transition: transform 500ms ease-out, box-shadow 500ms ease-out, border-radius 500ms ease-out;
}
.styled:hover{
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(252, 252, 252, 0.872);
  border-radius: 11px;
}
